<span class="close">&times;</span>
<canvas id="canvas" width="1368" height="684" class="chartjs-render-monitor" style="display: block; width: 1368px; height: 684px;"
        data-labels='{{ labels|json_encode|raw }}'
        data-display='{{ display_data|json_encode|raw }}'
        data-click='{{ click_data|json_encode|raw }}'
        data-approve='{{ approve_data|json_encode|raw }}'
        data-dismiss='{{ dismiss_data|json_encode|raw }}'
></canvas>