{% block _notice_matchingContexts_entry_row %}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %} field-{{ block_prefixes|slice(-2)|first }}">
        <div id="{{ id }}" class="container-fluid">
            <div class="well form-entry-mc-bg">
                {{ form_row(form.children.exampleUrl) }}
                <fieldset class="well form-well-bg">
                    {{ form_row(form.children.domainName) }}
                    {{ form_row(form.children.urlRegex) }}
                </fieldset>
                {{ form_row(form.children.excludeUrlRegex) }}
                {{ form_row(form.children.querySelector) }}
                {{ form_row(form.children.description) }}

                <!-- OMG am I really copy/pasting a portion of code from easycorp/easyadminbundle because I can’t properly override
                  -- the template of the collection row and keep the delete button???
                  -- I’m gonna vomit blood!!!!
                  -->
                {% if form.parent.vars.allow_delete|default(false) %}
                    {% set remove_item_javascript %}
                        $(function() {
                        if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

                        var containerDiv = $('#{{ id }}').parents('.form-group:first');
                        var parentDiv = containerDiv.parents('[data-prototype]:first');
                        containerDiv.remove();
                        parentDiv.trigger('easyadmin.collection.item-deleted');

                        var hasCountAttr = parentDiv.data('count');

                        if (hasCountAttr === undefined) {
                        var numItems = parentDiv.children('div.form-group').length;
                        parentDiv.data('count', ++numItems)
                        }

                        if (0 == parentDiv.children().length && 'undefined' !== parentDiv.attr('data-empty-collection')) {
                        $(parentDiv.attr('data-empty-collection')).insertBefore(parentDiv);
                        }
                        });
                    {% endset %}

                    <div class="text-right field-collection-item-action">
                        <a href="#" onclick="{{ remove_item_javascript|raw }}" class="text-danger">
                            <i class="fa fa-remove"></i>
                            {{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}
                        </a>
                    </div>
                {% endif %}
            </div>

            <style>
                .form-entry-mc-bg {
                    background-color: #fefefe;
                }
                .form-well-bg {
                    background-color: #f7f7f7;
                }
            </style>
        </div>
    </div>
{% endblock %}